* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  line-height: 1.7;
  box-sizing: border-box;
}
.hero-section {
  min-height: 100vh;
  background: linear-gradient(to left, #fffbe6 20%, #fff);
  margin-bottom: 3.2rem;
}
.container {
  max-width: 130rem;
  margin: 0 auto;
}
.hero {
  padding: 3.2rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
  gap: 4.8rem;
}
.hero-text-box {
}
.hero-tag {
  background-color: #fff3bf;
  width: fit-content;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  gap: 1rem;
  color: #d87e00;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 3.2rem;
}
.hero-tag svg {
  width: 25px;
  height: 25px;
  stroke: #d87e00;
}
.hero-tag svg path {
  fill: #d87e00;
}
.hero-title {
  font-size: 7.2rem;
  max-width: 60rem;
  line-height: 1.2;
  color: #333;
  margin-bottom: 3.2rem;
  letter-spacing: -4px;
}
.hero-title .premier-text {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to right, #f08c00, #ea580c);
}
.hero-description {
  font-size: 1.8rem;
  max-width: 65rem;
  line-height: 1.9;
  color: #555;
  margin-bottom: 3.2rem;
}
.btn {
  background: none;
  border: none;
  display: inline-block;
  font-size: 1.5rem;
  font-family: inherit;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.4s ease;
  color: inherit;
  margin-bottom: 3.2rem;
  line-height: 1;
}
.btn-primary,
.btn-form {
  background: linear-gradient(to right, #ca8a04, #ea580c);
  padding: 1.5rem;
  border-radius: 1rem;
  color: #fff;
  font-weight: 500;
  transition: all 0.4s ease;
}
.btn-primary:hover {
  opacity: 0.8;
}
.btns {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.btn-secondary {
  background-color: transparent;
  gap: 1rem;
  color: #333;
  border: 2px solid #c07000;
  width: fit-content;
  display: inline-block;
  padding: 1.2rem;
  border-radius: 1rem;
  font-size: 1.4rem;
  color: #c07000;
  line-height: 1;
  padding-top: 1rem;
}
.btn-secondary svg {
  width: 20px;
  height: 20px;
}
.btn-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.btn-secondary:hover {
  background-color: #fff3bf;
  border: 2px solid #ffe066;
}
.hero-rating {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.hero-rating-stars {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.starts {
  display: flex;
  align-items: center;
}
.starts svg {
  width: 25px;
  height: 25px;
  stroke: #fff;
}
.starts svg path {
  fill: #d87e00;
}
.hero-rating-stars .text {
  color: #666;
  font-family: inherit;
  font-size: 1.4rem;
  margin-top: 0.5rem;
}
.hero-satisfy-project {
  display: flex;
  gap: 1rem;
  color: #00a63e;
  font-weight: 500;
  text-transform: capitalize;
  align-items: center;
  margin-top: 0.5rem;
}
.hero-satisfy-project .icon svg {
  width: 24px;
  height: 24px;
}
.hero-img-box {
  width: 100%;
  position: relative;
  height: 65rem;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}
.container-img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* transform: scale(2); */
}
.text-top-image {
  position: absolute;
  bottom: 0%;
  right: 20px;
  background: #fff;
  padding: 4rem;
  height: 6rem;
  transform: translate(40%, 30%);
  display: flex;
  align-items: center;
  gap: 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.text-top-image .icon,
.box-contact .icon {
  background-color: #d3f9d8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 50%;
}
.text-top-image .icon svg,
.box-contact .icon svg {
  width: 30px;
  height: 30px;
  stroke: #40c057;
  stroke-width: 0.5px;
}
.text-top-image .icon svg path {
  fill: #40c057;
}
.title-box-static-image {
  font-size: 1.3rem;
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: -5px;
}
.price-par-annee {
  font-size: 2.1rem;
  font-weight: 600;
  color: #00a63e;
}
/* Header */
.header {
  max-width: 140rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}
.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.logo-text {
  font-size: 3.2rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #ea580c, #fcc419, #ea580c);
}
.logo .icon {
  background: linear-gradient(to right, #f08c00, #ea580c);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}
.logo .icon svg {
  width: 30px;
  height: 30px;
  stroke: #fff;
}
.main-menu {
  display: flex;
  align-items: center;
  gap: 2rem;
  text-transform: uppercase;
}
.main-menu .item {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 1.5rem;
  transition: all 0.4s ease;
}
.main-menu .item:hover {
  color: #ccc;
}
.header .btn-primary {
  margin-bottom: 0;
  margin-right: 0;
  height: 5rem;
  line-height: 1;
  font-size: 1.4rem;
}
/* Notre Concept */
.concept-section {
  margin-bottom: 3.2rem;
  padding: 9.6rem 0 9.6rem 0;
}
.titles-concept {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4.2rem;
}
.main-title {
  font-size: 1.2rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
  width: fit-content;
  padding: 0.4rem 2rem;
  border-radius: 2rem;
}
.titles-concept .main-title {
  color: #a86200;
  border: 1px solid #f9d199;
}
.second-title {
  font-size: 4.8rem;
  text-transform: capitalize;
  letter-spacing: -1px;
}
.description-section {
  font-size: 2rem;
  color: #665;
}
.cards {
  display: grid;
}
.cards-concept {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 3.2rem;
}
.card {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 1rem;
}
.head-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
  padding: 2rem;
}
.card .icon {
  border-radius: 50%;
  background-color: #00a63e;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.head-card .icon svg {
  height: 32px;
  width: 32px;
}
.head-card .title-card {
  font-size: 2rem;
  font-weight: 500;
  color: #333;
}
.head-card .description-cards {
  font-size: 1.5rem;
  text-align: center;
  color: #555;
}
.card .list-items {
  padding: 0 0 0 2rem;
  margin-bottom: 3.2rem;
}
.card .items {
  list-style: none;
}
.card .item-list {
  display: flex;
  align-items: center;
  line-height: 1;
  gap: 1rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}
.card .item-list svg {
  width: 18px;
  height: 18px;
  stroke: #00a63e;
}
.card-etude {
  border-color: #d0ebff;
  transition: all 0.4s ease;
}
.card-solution {
  border-color: #ffec99;
  transition: all 0.4s ease;
}
.card-installation {
  border-color: #b2f2bb;
  transition: all 0.4s ease;
}
.card-etude:hover {
  border-color: #339af0;
}
.card-solution:hover {
  border-color: #fcc419;
}
.card-installation:hover {
  border-color: #51cf66;
}
.card-installation .head-card .icon {
  background-color: #b2f2bb;
}
.card-solution .head-card .icon {
  background-color: #ffec99;
}
.card-etude .head-card .icon {
  background-color: #d0ebff;
}
.card-solution .head-card .icon svg path {
  stroke: #f59f00;
}
.card-installation .head-card .icon svg path,
.card-installation .head-card .icon svg {
  stroke: #2f9e44;
}
.card-etude .head-card .icon svg path {
  stroke: #1c7ed6;
}
/* Prouquoi section */
.proquoi-box {
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
  margin-top: 3.2rem;
  padding: 4.8rem;
  background: linear-gradient(to right, #fff9db, #ffe);
  align-items: center;
  border-radius: 2rem;
}
.proquoi-box .second-title {
  font-size: 2.4rem;
}
.proquoi-box .box-img {
  border-radius: 3rem;
  width: 100%;
  height: 32rem;
  overflow: hidden;
}
.proquoi-box .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pourquoi-icon-box {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-top: 3.2rem;
  gap: 3rem;
}
.pourquoi-icon-box .box {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.pourquoi-icon-box .box .icon {
  background-color: #00a63e;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.pourquoi-icon-box .box .icon svg {
  width: 25px;
  height: 25px;
}
.pourquoi-icon-box .box .icon.dollar {
  background-color: #d3f9d8;
}
.pourquoi-icon-box .box .icon.dollar svg path {
  fill: #37b24d;
}
.pourquoi-icon-box .box .icon.leaf {
  background-color: #d0ebff;
}
.pourquoi-icon-box .box .icon.trend {
  background-color: #e5dbff;
}
.pourquoi-icon-box .box .icon.shield {
  background-color: #fff3bf;
}
.pourquoi-icon-box .box .icon.shield svg path {
  stroke: #f59f00;
}
.pourquoi-icon-box .box .icon.trend svg path {
  fill: #7048e8;
}

.pourquoi-icon-box .box .icon.leaf svg path {
  fill: #1c7ed6;
}
.pourquoi-icon-box .box .content-box h3 {
  font-size: 1.6rem;
  font-weight: 500;
}
.pourquoi-icon-box .box .content-box p {
  font-size: 1.4rem;
  color: #555;
  font-weight: 400;
}
/* nos services */
.services-section {
  background-color: #f8f9fa;
  padding: 9.6rem 0 9.6rem 0;
}

.services-section .main-title {
  border-color: #1c7ed6;
  color: #1c7ed6;
}
.box-buttons-tab {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 0.5rem;
  background-color: #f1f3f5;
  border-radius: 0.7rem;
  margin-bottom: 3.2rem;
}
.box-buttons-tab .btn-tab {
  background: none;
  border: none;
  font-size: 1.4rem;
  font-family: inherit;
  line-height: 1;
  text-transform: capitalize;
  cursor: pointer;
  padding: 1.3rem;
  transition: all 0.5s;
}
.box-buttons-tab .btn-tab.active {
  background-color: #fff;
  border-radius: 0.7rem;
}
.cards-tab {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
}
.card-tab {
  border: 1px solid #ced4da;
  padding: 2rem;
  border-radius: 0.5rem;
  transition: all 0.4s ease;
}
.card-tab .head-card {
  align-items: start;
  margin-bottom: 1rem;
}
.card-tab .head-card .icon svg {
  height: 40px;
  width: 40px;
}
.card-tab .head-card .lighting svg path {
  fill: #f08c00;
}
.card-tab .head-card .battery svg g {
  stroke: #40c057;
}
.card-tab .head-card .setting svg path {
  fill: #2f9e44;
}
.card-tab .head-card .building svg g {
  fill: #1971c2;
}
.card-tab .head-card .home svg path {
  stroke: #1971c2;
}
.card-img {
  height: 20rem;
  width: 100%;
  border-radius: 2rem;
  overflow: hidden;
  margin-bottom: 2rem;
}
.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-tab .list-items {
  margin-left: 2rem;
}
.card-tab .list-items .items .item-list {
  margin-bottom: 0.3rem;
}
.tab {
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease;
  height: 0;
}
.tab-active {
  visibility: visible;
  opacity: 1;
  height: fit-content;
  /* overflow: hidden; */
}

.card-tab:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
/* contact form */
.contactForm {
  padding: 9.6rem 0;
  background-color: #fff7ed;
}
.contactForm .container {
  max-width: 102.4rem;
}
.contactForm .description-section {
  max-width: 80%;
  text-align: center;
}
.contactForm .titles-concept .main-title {
  color: #2f9e44;
  border-color: #2f9e44;
}
.cards-form {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 3rem;
}
.contact-info {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 2rem;
}
.box-contact {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.box-contact .phone svg {
  stroke-width: 3px;
}
.box-contact .position svg {
  stroke-width: 2px;
}
.box-contact .phone svg path {
  stroke: #f08c00;
}
.box-contact .email {
  background-color: #d0ebff;
}
.box-contact .email svg {
  stroke-width: 0px;
}
.box-contact .email svg path {
  fill: #1971c2;
}
.box-contact .phone {
  background-color: #ffd8a8;
}
.box-contact .info-title {
  font-size: 1.6rem;
  font-weight: 500;
}
.box-contact .icon {
  width: 45px;
  height: 45px;
}
.box-contact .icon svg {
  width: 35px;
  height: 35px;
}
.box-contact .info-appel {
  font-size: 1.5rem;
  color: #333;
}
.box-contact .desc-contact {
  font-size: 1.4rem;
  color: #666;
}
.box-horaires-work {
  background-color: #fff;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
}
.contact-info {
  margin-bottom: 3.2rem;
}
.box-horaires-work .title-horaires {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.box-horaires-work .title-horaires svg {
  width: 24px;
  height: 24px;
  stroke: #f76707;
  stroke-width: 2px;
}
.box-horaires-work .dates-box {
  margin-left: 2rem;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1rem;
}
.box-horaires-work .dates-box .day-horaires {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 1.4rem;
}
.box-horaires-work .dates-box .day-horaires .ferme {
  color: #bbb;
}
.box-form {
  width: 100%;
}
.head-form {
  padding: 2rem;
  background: linear-gradient(to right, #e76e2c, #e7a71d);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.head-form .title-form {
  font-size: 2rem;
  color: #fff;
  line-height: 1.75;
}
.head-form .desc-form {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.5;
  margin-top: 0.5rem;
}
.box-form .inputs {
  background-color: #fff;
  padding: 2rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.box-form .inputs .tow-inputs {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.5rem;
  /* margin-bottom: 1rem; */
}
.box-form .inputs .input {
  font-size: 1.4rem;
  line-height: 1.25;
  margin-bottom: 2rem;
}
.box-form .inputs .input label {
  margin-bottom: 1rem;
  display: block;
  font-size: 500;
  font-family: inherit;
}
.box-form .inputs .input input::placeholder,
.box-form .inputs .input textarea::placeholder {
  color: #999;
}
.box-form .inputs .input input,
.box-form .inputs .input textarea,
.box-form .inputs .input select {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  outline: none;
  display: block;
  font-family: inherit;
  margin-bottom: 1rem;
  transition: all 0.4s ease;
  color: #333;
}
.box-form .inputs .input input:focus,
.box-form .inputs .input textarea:focus {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.box-form .inputs .input textarea {
  height: 12rem;
  resize: none;
}
.box-form .inputs .input select {
  text-transform: capitalize;
}
.btn-form {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  background: linear-gradient(to right, #f97316, #eab308);
  margin-bottom: 1rem;
  transition: all 0.4s ease;
  font-size: 1.4rem;
}
.btn-form:hover {
  opacity: 0.9;
}
.btn-form .icon svg {
  width: 20px;
  height: 20px;
}
.desc-form-end {
  font-size: 1.2rem;
  letter-spacing: -0.4px;
  color: #777;
}
/* Footer */
.footer {
  background-color: #111827;
}
.footer .container {
  padding: 4.8rem 3.2rem;
}
.cards-footer {
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 3.2rem;
  border-bottom: 1px solid #333;
  padding-bottom: 3rem;
}
.footer .box-logo .intro-societe {
  color: #9ca3af;
  font-size: 1.4rem;
  margin-bottom: 1.5em;
  margin-top: 2rem;
}
.footer .box-logo .tags-footer {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer .box-logo .tags-footer .tag {
  background: #1e2939;
  padding: 0.7rem;
  border-radius: 3rem;
  font-size: 1.2rem;
  color: #9ca3af;
  transition: all 0.4s ease;
}
.footer .box-logo .tags-footer .tag:hover {
  color: #111827;
  background-color: rgb(209 213 219);
}

.footer .box-links h4 {
  font-size: 1.6rem;
  color: transparent;
  background-image: linear-gradient(to right, #e8590c, #ffa94d);
  background-clip: text;
  margin-bottom: 2rem;
}
.footer .box-links .list-links {
  list-style: none;
  font-size: 1.5rem;
  color: #9ca3af;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1.2rem;
}
.footer .box-links .list-links .link a {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  text-decoration: none;
  transition: all 0.4s ease;
  display: block;
}
.footer .box-links .list-links .link a:hover {
  color: #1e2939;
}
.footer .box-links .list-links .link a {
  display: flex;
  align-items: center;
  gap: 1rem;
  line-height: 1.5;
}
.footer .box-links .list-links .link .icon svg {
  width: 20px;
  height: 20px;
}
.copy-right {
  margin-top: 2rem;
  color: #9ca3af;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copy-right .developper a {
  color: #d9480f;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.4s ease;
}
.copy-right .developper a:hover {
  color: #212b42;
}
